<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxutcm.equipmentMaintance.Dao.MaintanceDao">

    <select id="getMaintance" resultType="com.jxutcm.equipmentMaintance.Bean.MaintanceInfo">
        select * from 维修保养表
    </select>

    <insert id="addMaintanceInfo" parameterType="com.jxutcm.equipmentMaintance.Bean.MaintanceInfo">
        insert into 维修保养表(计划编号,设备编号,计划名称,计划描述,保养类型,开始时间,结束时间,保养内容)
        value(#{计划编号},#{设备编号},#{计划名称},#{计划描述},#{保养类型},#{开始时间},#{结束时间},#{保养内容})
    </insert>

<!--    <update id="delDocInfo" parameterType="com.jxutcm.TestProject.Bean.DocInfo">-->
<!--        update docinfo set rowStatus=-1,delTime=#{delTime},manipUser=#{manipUser} where dID=#{dID}-->
<!--    </update>-->

<!--    <update id="updDocInfo" parameterType="com.jxutcm.TestProject.Bean.DocInfo">-->
<!--        update docinfo set dName=#{dName},dGender=#{dGender},dMajor=#{dMajor},dDept=#{dDept},dCost=#{dCost},updTime=#{updTime},manipUser=#{manipUser} where dID=#{dID}-->
<!--    </update>-->
</mapper>
