<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxutcm.equipmentMaintance.Dao.OrderDao">

    <select id="getOrder" resultType="com.jxutcm.equipmentMaintance.Bean.OrderInfo">
        select * from 工单表
    </select>

    <insert id="addOrder" parameterType="com.jxutcm.equipmentMaintance.Bean.OrderInfo">
        insert into 工单表(工单编号,设备编号,派单时间,结束时间,标准工时,负责人编号,工单备注,工作记录)
        value(#{工单编号},#{设备编号},#{派单时间},#{结束时间},#{标准工时},#{负责人编号},#{工单备注},#{工作记录})
    </insert>

    <!--    <update id="delDocInfo" parameterType="com.jxutcm.TestProject.Bean.DocInfo">-->
    <!--        update docinfo set rowStatus=-1,delTime=#{delTime},manipUser=#{manipUser} where dID=#{dID}-->
    <!--    </update>-->

        <update id="updOrder" parameterType="com.jxutcm.equipmentMaintance.Bean.OrderInfo">
            update 工单表 set 工作记录=#{工作记录} where 工单编号=#{工单编号}
        </update>
</mapper>
