/*
.editPrompt {
    z-index: 30;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: '行楷','华文中宋';
    display: none;
}
.editPrompt .promptCtn {
    width: 600px;
    height: 400px;
    margin-top: -500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.editPrompt .promptCtn input[type='text'] {
    width: 300px;
    height: 26px;
    background-color: #ddd;
    border: none;
    margin-bottom: 30px;
    border-radius: 100px;
    padding: 0 12px;
}
.editPrompt .promptCtn input[type='text']:focus {
    outline-color: #4682B4;
}
.editPrompt .promptCtn input[type='button'] {
    width: 130px;
    height: 26px;
    line-height: 24px;
    border: none;
    background-color: #4682B4;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    width: 100%;
    height: 100%;
}
.editPrompt {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.editCtn {
    width: 699px;
    height: 399px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-top: -40%;
}
.noPrompt {
    position: absolute;
    top: 10px;
    right: 10px;
}
.editCtn p {
    margin: 20px 0 0 30px;
}
.editCtn p>span {
    color: #4682b4;
    font-weight: 600;
    font-size: 18px;
}
.editCtn p:not(.noMoreIndent) {
    margin-left: 49px;
}
.editCtn label {
    color: #aaa;
    margin-right: 10px;
    /* 模拟表格对齐，比较死板，但不用修改页面结构 */
    display: inline-block;
    width: 64px;
}
.editCtn input[type='text'] {
    width: 300px;
    height: 22px;
    border-radius: 600px;
    border: none;
    background-color: #ddd;
    padding: 10px;
}

.editCtn input:disabled {
    background-color: #eee;
}

.editCtn p:last-child {
    display: flex;
    justify-content: end;
    padding-right: 30px;
    position: relative;
}
#editBtn {
    position: absolute;
    bottom: -10px;
    width: 99px;
    height: 29px;
    border: none;
    background-color: #4682b4;
    color: #fff;
    border-radius: 3px;
}                                                                                         