<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.OrderMapper">
    <!-- 分页查询，可通过工单编号和时间范围筛选 -->
    <select id="getOrdersByPage" parameterType="com.example.springboot.utils.Condition" resultType="com.example.springboot.entity.OrderInfo">
        SELECT
        order_info.*,
        maintance_info.plan_name,
        maintance_info.end_time AS planTime,
        worker_info.worker_name
        FROM
        order_info
        JOIN
        maintance_info ON order_info.plan_id = maintance_info.plan_id
        JOIN
        worker_info ON order_info.worker_id = worker_info.worker_id
        <where>
            <if test="orderId != null and orderId != ''">
                AND order_info.order_id LIKE CONCAT('%', #{orderId}, '%')
            </if>
            <if test="startTime != null and endTime != null">
                AND order_info.start_time &gt; #{startTime} AND order_info.end_time &lt; #{endTime}
            </if>
        </where>
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <!-- 条件查询（筛选）后的总数据条数 -->
    <select id="getOrdersCountByCondition">
        select count(*)
        from order_info,maintance_info
        <where>
            <if test="true">
                order_info.plan_id = maintance_info.plan_id
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id like CONCAT('%',#{orderId},'%')
            </if>
        </where>
    </select>
    <!-- 获取选中工单记录的设备信息 -->
    <select id="getSelectedEquipInfo" parameterType="com.example.springboot.utils.Condition" resultType="com.example.springboot.entity.SelectedEquipInfo">
        select eq.equip_name,
               eq.equip_id,
               eq.equip_pic,
               eq.last_maintance,
               mt.maintance_desc,
               od.order_desc,
               od.order_record
        from equip_info eq,maintance_info mt,order_info od
        where eq.equip_id = #{equipId} and mt.plan_id = od.plan_id and mt.plan_id = #{planId}
    </select>
    <!-- 提交工作记录 -->
    <update id="addWorkRecord" parameterType="com.example.springboot.utils.Condition">
        update order_info
        set order_record = #{orderRecord}
        where order_id = #{orderId}
    </update>
    <!-- 结单：添加结束时间 -->
    <update id="submitOrder" parameterType="com.example.springboot.utils.Condition">
        update order_info
        set end_time = #{endTime}
        where order_id = #{orderId}
    </update>
    <!-- 结单：自动计算工时 -->
    <update id="autoAddHours" parameterType="com.example.springboot.utils.Condition">
        update worker_info
        set pay_hour = ROUND(
                DATEDIFF(#{endTime}, #{startTime}) * 24 +
                    HOUR(TIMEDIFF(#{endTime}, #{startTime})) +
        MINUTE(TIMEDIFF(#{endTime}, #{startTime})) / 60,
        2)
        where worker_id = #{workerId}
    </update>
</mapper>
